<div class="audio-visualizer">
    <div class="audio-visualizer__viewer"></div>
    {{#if isLoadingPhotos}}
        Loading ...
    {{else}}
        <div class="audio-visualizer__controls">
            {{#unless isPlaying}}
                <div class="audio-visualizer__icon controls__play" {{action 'play'}}>
                    <div class="vizaudio-play"></div>
                </div>
            {{else}}
                <div class="audio-visualizer__icon controls__stop" {{action 'stop'}}>
                    <div class="vizaudio-pause"></div>
                </div>
            {{/unless}}
        </div>
    {{/if}}
</div>

