<div class="modal {{if isShowing 'modal--showing'}}">
    <div class="modal__container">
        <div class="modal__close vizaudio-circle-cross {{if hideClose 'hidden'}}" {{action 'close'}}></div>
        <div class="modal__body">
            {{yield}}
        </div>
    </div>
</div>
