<div class="modal {{if isShowing 'modal--showing'}}">
    <div class="modal__container">
        <div class="modal__close"></div>
        <div class="modal__body">
            {{yield}}
            <div class="u-ph- u-pb-">
              <button class="btn btn--small btn--full btn--hard" {{action 'close'}}>
                  {{_buttonText}}
              </button>
            </div>
        </div>
    </div>
</div>
