$brand-color: #3498DB;
@import "../../bower_components/inuit-defaults/settings.defaults";
@import "settings/settings.inuit-vars";
@import "../../bower_components/inuit-functions/tools.functions";
@import "../../bower_components/inuit-mixins/tools.mixins";
@import "../../bower_components/inuit-tools-widths/tools.widths";
@include inuit-widths(1 2 3 4 5 6 7 8 9 10 11 12);
@import "tools/tools.animation";
@import "tools/tools.gradients";
@import "../../bower_components/inuit-normalize/generic.normalize";
@import "../../bower_components/inuit-box-sizing/generic.box-sizing";
@import "base/base.links";
@import "base/base.headings";
@import "../../bower_components/inuit-page/base.page";
@import "fonts/fonts.visaudio";
@import "fonts/fonts.social";
@import "../../bower_components/inuit-buttons/objects.buttons";
@import "../../bower_components/inuit-layout/objects.layout";
@import "../../bower_components/inuit-list-bare/objects.list-bare";
@import "../../bower_components/inuit-media/objects.media";
@import "objects/objects.buttons";
@import "components/components.audio-visualizer";
@import "components/components.headings";
@import "components/components.sexy-select";
@import "components/components.viaudio";
@import "trumps/trumps.positioning";
@import "trumps/trumps.text";
@import "trumps/trumps.visibility";
@import "../../bower_components/inuit-clearfix/trumps.clearfix";
@import "../../bower_components/inuit-spacing/trumps.spacing";





%tint {
  position: relative;
  &:after {
    content: '';
    @extend %absolute-fill;
  }
}

.tint--blue {
  @extend %tint;
  &:after {
    @include vertical-gradient(rgba(52,152,219,0.7), transparent);
  }
}

.section {
  max-width: 800px;
  margin: 0 auto;
}
