@mixin vendor($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }

  @include vendor(animation, $animations);
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(bg-pulse-animation) {
  0%   { background: rgba(255,176,59,0.4); }
  50%   { background: rgba(70,137,102,0.4); }
  100% { background: rgba(182,73,38,0.4); }
}

@include keyframes(ken-burns) {
  0%   { @include vendor(transform, scale(1)) }
  100%   { @include vendor(transform, scale(2)) }
}
