@mixin vendor($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }

  @include vendor(animation, $animations);
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(bg-pulse-animation) {
  0%   { background: rgba(255,176,59,0.4); }
  50%   { background: rgba(70,137,102,0.4); }
  100% { background: rgba(182,73,38,0.4); }
}

@include keyframes(ken-burns) {
  0%   { @include vendor(transform, scale(1)) }
  100%   { @include vendor(transform, scale(2)) }
}


@include keyframes(get-started) {
  0%{ opacity: 1; left: 0; }
  100%{ opacity: 0; left: -50px;}
}

@include keyframes(get-started__secondary) {
  0%{ opacity: 1; left: 0; }
  20%{ opacity: 1; left: 0; }
  100%{ opacity: 0; left: -50px;}
}

.animate-out {
  .animate-out__primary {
    position: relative;
    @include animation('get-started 0.5s ease');
    @include vendor(animation-fill-mode, forwards);
  }

  .animate-out__secondary {
    position: relative;
    @include animation('get-started__secondary 0.9s ease');
    @include vendor(animation-fill-mode, forwards);
  }
}

@include keyframes(pulse-scale) {
  0%{ @include vendor(transform, scale(1)) }
  20%{ @include vendor(transform, scale(1)) }
  25%{ @include vendor(transform, scale(1.1)) }
  30%{ @include vendor(transform, scale(1)) }
  100%{ @include vendor(transform, scale(1)) }
}

@include keyframes(scale-tiny) {
  0%{ @include vendor(transform, scale(1)) }
  15%{ @include vendor(transform, scale(1.2)) }
  100%{ @include vendor(transform, scale(0)) }
}

.animate-scale-tiny {
  @include animation('scale-tiny 0.5s ease');
  @include vendor(animation-fill-mode, forwards);
}


.fade-in {
  opacity: 0;
  @include vendor(transition, opacity 1s ease);
}

.fade-in--show {
  opacity: 1;
}
