$fb-blue: #4c66a4;
$twitter-blue: #00aced;

.audio-visualizer{
  audio {
    display: none;
  }
}

.audio-visualizer__viewer1,
.audio-visualizer__viewer2 {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.85);
  background-size: cover !important;
  z-index: 1;
  @include animation('ken-burns 20s alternate infinite');
}

.audio-visualizer__viewer1 {
  @include animation('ken-burns 10s alternate infinite');
}

.audio-visualizer__viewer2 {
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  @include animation('ken-burns 20s alternate infinite');
}

.audio-visualizer__header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
}

.audio-visualizer__progress {
  top: 200px;
  color: rgba(255,255,255,0.2);
  position: absolute;
  width: 100%;
  z-index: 1;
}

.audio-visualizer__progress__number {
  font-size: 5rem;
}

.audio-visualizer__progress__messages {

}

.audio-visualizer__progress--hide {
  display: none;
}

.audio-visualizer__brand {
  height: 20px;
  position: absolute;
  font-size: 1.2rem;
  bottom: 50px;
  right: 20px;
  z-index: 1;
  color: white;
  .icon {
    cursor: pointer;
  }
  .fb-icon{
    &:hover {
      color: $fb-blue;
    }
  }
  .twitter-icon{
    &:hover {
      color: $twitter-blue;
    }
  }
}

.player {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  float: right;
  position: relative;
  right: 13px;
  &:hover {
    background: $brand-color;
  }
}
