.visaudio {
  background-repeat: repeat;
  height: 100vh;
  padding: 80px 0 50px 0;
  position: relative;
  z-index: 0;
  background-color: #3B5998;
  opacity: 0;
  @include vendor(transition, all 0.5s ease);
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include vendor(transition, all 0.5s ease);
  }
}

.visaudio-showing {
  opacity: 1;
}

.visaudio__wrapper {
  z-index: 1;
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.audio-animation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.05;
  @include vendor(filter, blur(3px));
}

$bgs: #2183A3, #FFDC48, #FF9800, #FF6300, #A32214;
@each $bg in $bgs {
  $i: index($bgs, $bg);
  .visaudio--#{$i} {
    background-color: $bg;
  }
}

.polaroid {
  width: 100%;
  background: rgba(white, 0.3);
  border-radius: 2px;
  padding: 20px;
}

.polaroid__viewer {
  width: 710px;
  height: 455px;
  overflow: hidden;
  background: #36518B;
  border-radius: 3px;
  position: relative;
}

.polaroid__img {
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.polaroid__progress {
  width: 120px;
  margin: 155px auto 0 auto;
}

.polaroid__viewer--default {
  //background: url('/visaudio-splash.svg');
}

.loading-photos {
  text-align: center;
  line-height: 3.4;
  font-size: 125px;
  color: rgba(white, 0.07);
  position: relative;
  left: 30px;
}

.loading-photos__symbol {
  font-size: 78px;
  position: relative;
  left: -30px;
}


/* Lifted corners */

.lifted {
  -moz-border-radius:4px;
  border-radius:4px;
  position: relative;

}

.lifted:before,
.lifted:after {
  content:"";
  position:absolute;
  bottom:16px;
  left:16px;
  width:50%;
  height:20%;
  max-width:100px;
  z-index: -1;
  @include vendor(box-shadow, 0 15px 30px rgba(black, 0.8));
  @include vendor(transform, rotate(-5deg));

}

.lifted:after {
  right:16px;
  left:auto;
  @include vendor(transform, rotate(5deg));
}

.controls {
  position: absolute;
  bottom: -70px;
  left: 0px;
  opacity: 0;
  @include vendor(transition, opacity 1s ease);

}

.controls-connected {
  background: white;
  border-radius: 25px;
  height: 50px;
  display: inline-block;
  padding: 0 40px 0 20px;
  opacity: 1;
}

.controls-unconnected {
  opacity: 1;
  @include animation('pulse-scale 4s infinite');
}

.control {
  display: inline-block;
}

.control-icon {
  font-size: 30px;
  line-height: 0;
  left: 5px;
  position: relative;
  top: 17px;
  cursor: pointer;
  color: rgba(black, 0.2);
  &:hover {
    color: rgba(black, 0.7);
  }
}

.visaudio__share {
  position: absolute;
  right: 0;
  bottom: -55px;
}
