$facebook-blue: #3B5998;


@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.btn {
  position: relative;
  &:focus {
    outline: none;
  }
}

.btn--facebook {
  background: $facebook-blue;
  border-color: $facebook-blue;
  &:before, & {
    color: white;
  }
  .btn__icon {
    font-size: 37px;
    position: absolute;
    left: 10px;
    top: 7px;
  }
  &:hover {
    background: #3A5690;
  }
}

.btn--silent {
  background: transparent;
  font-weight: 100;
}

.btn--border-white {
  border-color: white;
  &:hover {
    background: white;
    color: #333;
  }
}

.btn--outline {
  position: relative;
  &:after {
    content: '';
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
    @extend %absolute-fill;
    border-radius: $inuit-btn-radius/4;
  }
}

.btn--loading {
  color: transparent !important;
  opacity: 1;
  @extend .vizaudio-loader;
  &:before {
    @extend .rotating;
    font-family: 'vizaudio';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 2;
    font-size: 1.5rem;
    opacity: 0.3;
  }
}

.btn-with-icon {
  position: relative;
}

.btn-with-icon--left {
  padding: 11px 23px 11px 63px;
}

.btn__icon {
  font-size: 50px;
  position: absolute;
  left: 3px;
  top: 0;

  &.vizaudio-facebook {
    font-size: 39px;
    position: absolute;
    left: 12px;
    top: 6px;
  }
}
