.bg-cover {
  background-size: cover;
  overflow: auto;

}

.bg-gradient--sky {
  &:after {
    @include vertical-gradient(#88CCEB, transparent);
  }
}

.bg-gradient--night {
  &:after {
    @include vertical-gradient(black, transparent);
  }
}

.bg-gradient {
  position: relative;
  color: white;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.bg-sky__content {
  position: relative;
  z-index: 1;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-cover--old-man {
  background-image: url('/assets/image/old_on_bench.jpeg');
}

.bg-cover--motorcycle {
  background-image: url('/assets/image/motorcycle.jpeg');
  @include media-query(palm) {
    background-position: right;
  }
}

.bg {
  &, p {
    color: rgba(0,0,0,0.5);
  }
}

.bg-1 {
 background: #FFDC48;
}

.bg-2 {
  background: #2183A3
}

.bg-3 {
  background: #FF6300;
}

