.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, 0.7);
  z-index: 1;
  opacity: 0;
  @include vendor(transition, opacity 300ms ease);
}

.modal__container {
  position: relative;
  background: white;
  width: 450px;
  margin: 50px auto 0 auto;
  box-shadow: 0 0 55px rgba(0,0,0,0.4);
}

.modal--showing {
  opacity: 1;
}

.modal__close {
  position: relative;
  text-align: right;
  top: 3px;
  opacity: 1;
  font-size: 19px;
  cursor: pointer;
  color: #C88585;
  right: 5px;
  &:hover {
    color: #CE5050;
  }
}
