// Fonts
$inuit-base-font-size:          18px;
$inuit-base-line-height:        30px;

// Layout
$inuit-enable-layout--tiny:     true;
$inuit-enable-layout--small:    true;
$inuit-enable-layout--large:    true;
$inuit-enable-layout--huge:     true;
$inuit-enable-layout--flush:    true;
$inuit-enable-layout--rev:      true;
$inuit-enable-layout--middle:   true;
$inuit-enable-layout--bottom:   true;
$inuit-enable-layout--right:    true;
$inuit-enable-layout--center:   true;
$inuit-enable-layout--auto:     true;

// Spacing
$inuit-enable-margins:                  true;
$inuit-enable-margins--tiny:            true;
$inuit-enable-margins--small:           true;
$inuit-enable-margins--large:           true;
$inuit-enable-margins--huge:            true;
$inuit-enable-margins--negative:        true;
$inuit-enable-margins--negative-tiny:   true;
$inuit-enable-margins--negative-small:  true;
$inuit-enable-margins--negative-large:  true;
$inuit-enable-margins--negative-huge:   true;
$inuit-enable-margins--none:            true;
$inuit-enable-paddings:                 true;
$inuit-enable-paddings--tiny:           true;
$inuit-enable-paddings--small:          true;
$inuit-enable-paddings--large:          true;
$inuit-enable-paddings--huge:           true;
$inuit-enable-paddings--none:           true;

// Buttons
$inuit-btn-background:      #2183A3;
$inuit-btn-color:           #fff;
$inuit-btn-border-width:    1px;
$inuit-btn-border-style:    solid;
$inuit-btn-border-color:    $inuit-btn-background;
$inuit-btn-radius:          4px;
$inuit-enable-btn--small:   true;
$inuit-enable-btn--large:   true;
$inuit-enable-btn--full:    true;
$inuit-enable-btn--pill:    true;


// Media
$inuit-enable-media--tiny:          true;
$inuit-enable-media--small:         true;
$inuit-enable-media--large:         true;
$inuit-enable-media--huge:          true;
$inuit-enable-media--rev:           true;
$inuit-enable-media--flush:         true;
$inuit-enable-media--responsive:    true;
