.overflow-visible {
  overflow: visible !important;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.hide-palm {
  @include media-query(palm) {
    display: none;
  }
}

@for $i from 1 through 10 {
  .opacity-#{$i} {
    opacity: 1/$i;
  }
}
