{{liquid-outlet}}
<div class="footer u-pv">
    <div class="section">
        <p class="quote">
            “Life comes when you have knowledge, wisdom, and understanding, when you can see for real, touch, and feel for real, know for real. Then you are truly living.”
        <span class="quote__author">
            ― The RZA
        </span>
        </p>
    </div>
</div>