<div class="u-pt++ bg-cover bg-fixed bg-sky bg-cover--old-man page-height-1/1 {{if hasClickedGetStarted 'animate-out'}}">
  <div class="bg-sky__content  text-center u-pb++">
      <h1 class="animate-out__primary text-uppercase text-light">Everyone has a story to tell</h1>
      <div class="btn btn-with-icon btn-with-icon--left btn--primary animate-out__secondary" {{action 'getStarted'}}>
          <i class="btn__icon vizaudio-device-camera-video"></i> See yours.
      </div>
  </div>
</div>

<div class="u-pv++ bg bg-1">
    <div class="section">
        <div class="layout">
            <div class="layout__item u-1/3">
                <img class="u-1/1 u-pt" src="/assets/image/dude-face.svg" />
            </div><div class="layout__item u-2/3">
            <div class="u-pl+">

                <h2 class="text-uppercase text-weight-3 u-mv0">High quality sound</h2>
                <img class="u-1/3 opacity-5 u-pb" src="/assets/image/Dolby-Digital-Logo.svg" />
                <p class="message-box message-box--left u-p">
                    We use Dolby Digital audio encoding for all you audiophile nerds.
                </p>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="u-pv++ bg bg-2">
    <div class="section">
        <div class="layout">
            <div class="layout__item u-1/3">
                <img class="u-1/1 u-pt" src="/assets/image/dude-face-2.svg" />
            </div><div class="layout__item u-2/3">
            <div class="u-pl+">
                <h2 class="text-uppercase text-weight-3 u-mt0 u-mb0">Playback energy</h2>
                <p class="u-mv0">Automagically create slideshows from your Facebook photos and albums</p>
                <p class="message-box message-box--left u-p u-mt+">
                    Sh-lideshow to the beat of the song.<br /> It's shuper awesome...
                </p>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="u-pv++ bg bg-3">
    <div class="section">
        <div class="layout">
            <div class="layout__item u-1/3">
                <img class="u-1/1 u-pt" src="/assets/image/dude-face-3.svg" />
            </div><div class="layout__item u-2/3">
            <div class="u-pl+">
                <h2 class="text-uppercase text-weight-3 u-mt0 u-mb0">Share with friends</h2>
                <p class="u-mv0">Because everyone should see this</p>
                <p class="message-box message-box--left u-p u-mt+">
                    I'm just here to look cool
                </p>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="u-pv++">
  <div class="section">

      <div class="text-center">
          <img class="u-1/2 u-pt++" src="/assets/image/logo_dark.svg" />
      </div>

      <div class="text-center">
          <div class="btn btn-with-icon btn-with-icon--left" {{action 'getStarted'}}>
              <i class="btn__icon vizaudio-device-camera-video"></i> Make your slideshow
          </div>
      </div>

      <p class="u-pt+">
          Visaudio is created by Ryan Irilli and Bradley Schoch as an audio experiment. We want this to be a positive experience, and to be fully transparent.
          We do not store or use your content in any way, period. If you have any questions or concerns please tweet or direct message us.
      </p>

  </div>
</div>

<div class="footer u-p-">
    <div class="footer__tag-line">

    </div>
    <div class="footer__share">

    </div>
</div>