<div class="u-pt++ palm-pt0 bg-cover bg-fixed bg-gradient bg-gradient--night bg-cover--motorcycle page-height-1/1 {{if hasClickedGetStarted 'animate-out'}}">
  <div class="bg-sky__content  text-center u-pv++">
      <h1 class="animate-out__primary text-uppercase text-light palm-ph+">Like it was supposed to be.</h1>
      <div class="btn btn-with-icon btn-with-icon--left btn--primary animate-out__secondary" {{action 'getStarted'}}>
          <i class="btn__icon vizaudio-device-camera-video"></i> Watch
      </div>
  </div>
</div>

<div class="u-pv++ palm-pt0">
  <div class="section">

      <div class="text-center">
          <img class="u-1/2 u-4/5-palm u-pt++ palm-pt+" src="/assets/image/logo_dark.svg" />
      </div>

      <div class="text-center">
          <div class="btn btn-with-icon btn-with-icon--left" {{action 'getStarted'}}>
              <i class="btn__icon vizaudio-device-camera-video"></i> Make your slideshow
          </div>
      </div>

      <p class="u-pt+ u-ph">
          Visaudio is created by Ryan Irilli and Bradley Schoch as an audio experiment. We want this to be a positive experience, and to be fully transparent.
          We do not store or use your content in any way, period. If you have any questions or concerns please tweet or direct message us.
      </p>

  </div>
</div>

<div class="footer u-p-">
    <div class="footer__tag-line">

    </div>
    <div class="footer__share">

    </div>
</div>