<div class="u-pt++ bg-cover bg-fixed bg-sky bg-cover--old-man page-height-1/1 {{if hasClickedGetStarted 'animate-out'}}">
  <div class="bg-sky__content  text-center u-pb++">
      <h1 class="animate-out__primary text-uppercase text-light">Everyone has a story to tell</h1>
      <div class="btn btn-with-icon btn-with-icon--left btn--primary animate-out__secondary" {{action 'getStarted'}}>
          <i class="btn__icon vizaudio-device-camera-video"></i> See yours.
      </div>
  </div>
</div>

<div class="u-pv++ bg bg-1">
    <div class="section">
        <div class="layout">
            <div class="layout__item u-1/3">
                <img class="u-1/1 u-pt+" src="/assets/image/Dolby-Digital-Logo.svg" />
            </div><div class="layout__item u-2/3">
            <div class="u-pl+">
                <h2 class="text-uppercase">High audio quality</h2>
                <p>Choose a song that best represents you. We curate the tracks, you just select the one that feels right.</p>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="page-height-1/2 bg bg-2">

</div>

<div class="page-height-1/2 bg bg-3">

</div>

<div class="page-height-1/2">

</div>
