{{#full-page coverPhotoPath='/assets/image/old_on_bench.jpeg'}}
  <div class="text-center u-pt++">
      <div class="btn btn--huge btn--primary btn--facebook"
        {{action 'fbConnect'}}>
          Connect Facebook Photos
      </div>
  </div>
{{/full-page}}

