<div class="header"></div>
<div class="section">
    <h1>Privacy Policy</h1>
    <p>
        This privacy statement applies to the treatment of personally identifiable information submitted by, or otherwise obtained from, you in connection with the associated application Visaudio. The Application is provided by Ryan Irilli. By using or otherwise accessing the Application, you acknowledge that you accept the practices and policies outlined in this Privacy Statement.
    </p>
    <h2>What personal information does Visaudio collect?</h2>
    <p>
        Visaudio requests access to your photos only to play them back to you. Visaudio is a front-end only app which means it does not connect to any database. I do not
        store any of your personal information, including your photos. None of your information is shared or used in any way other than to display it in the browser
    </p>
    <h2>Questions and Concerns?</h2>
    <p>
        If you have any questions or concerns regarding privacy on our Website, please use <a href="https://twitter.com/ryanirilli">Twitter</a>. I will make every effort to resolve your concerns.
    </p>
</div>